<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="welcome">
      <h1>WELCOME TO ONLINE UTTARANCHAL UNIVERSITY</h1>
      <br />
      <h2>College Admission Management System!</h2>
      <br />
      <p>Choose your section:</p>
      <p>
        <a href="/student/login"><button>Student Section</button></a> to
        register or login.
      </p>
      <p>
        <a href="/admin/login"><button>Admin Section</button></a> to login.
      </p>
    </div>
  </body>
</html>
